html {
    box-sizing: border-box;
}

body {
    margin: 0;
    padding: 0;
    font-family: Verdana;
    font-weight: 150;
    line-height: 2.0rem;
    background: fixed;
    background-color: lightblue;
}

.quiz-container {
    margin: 5rem auto;
    padding: 3rem;
    width: 60%;
    display: flex;
    flex-direction: column;
    background: fixed;
    background-color: azure;
    min-height: 60vh;
}

.title {
    margin-top: 0;
    margin-bottom: 3rem;
    color: darkblue;
    font-weight: 400;
    font-size: 1.5rem;
    text-align: center;
    text-transform: capitalize;
}

.question {
    font-size: 1rem;
    color: black;
}

.option {
    padding: 0.5rem;
    font-size: 1rem;
    color: black;
}